<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>
            Books
        </title>
        <link rel="stylesheet" href = "../static/css/bookkk.css" />
    </head>
    <body>
        <div class = "container">
            <h1>...Know about your Cycles...</h1>
            <br>
            <div class="book">
                <div class="icon">
                    <img src = "../static/images/icon.png" alt=""  width="80" height="80"/>
                </div>
                <div class="content">
                    <h2> पीरियड्स क्या हैं और क्यों होते हैं (Period in Hindi)</h2>
                    <p> by Birla Fertility</p>
                    <button onclick="openOne()">READ IT</button>
                </div>
            </div>
            <div class="book">
                <div class="icon">
                    <img src = "../static/images/icon.png" alt="" width="80" height="80" />
                </div>
                <div class="content">
                    <h2> अपनी बेटी को पहले पीरियड्स के बारे में कैसे बताएं, एक्सपर्ट से जानिए </h2>
                    <p> by Saudamini Pandey </p>
                    <button  onclick="openTwo()">READ IT</button>
                </div>
            </div>
            <div class="book">
                <div class="icon">
                    <img src = "../static/images/icon.png" alt="" width="80" height="80" />
                </div>
                <div class="content">
                    <h2> पीरियड्स में क्या नहीं करना चाहिए | Things You Shouldn't Do on Your Periods in Hindi </h2>
                    <p> by Upasana Mani</p>
                    <button  onclick="openThree()">READ IT</button>
                </div>
            </div>
            <div class="book">
                <div class="icon">
                    <img src = "../static/images/icon.png" alt="" width="80" height="80" />
                </div>
                <div class="content">
                    <h2>पीरियड्स के दिनों में महिलाएं कैसे करें अपनी देखभाल? ये हैं 10 Tips </h2>
                    <p> by Dainik Bhaskar  </p>
                    <button onclick="openFour()">READ IT</button>
                </div>
            </div>
            <div class="book">
                <div class="icon">
                    <img src = "../static/images/icon.png" alt="" width="80" height="80" />
                </div>
                <div class="content">
                    <h2>मॉनसून में पीरियड के दौरान महिलाएं रखें इन 4 बातों का ध्यान, नहीं होगी इंफेक्शन की परेशानी </h2>
                    <p> by Shaheena Noor</p>
                    <button onclick="openFive()">READ IT</button>
                </div>
            </div>
            <div class="book">
                <div class="icon">
                    <img src = "../static/images/icon.png" alt="" width="80" height="80" />
                </div>
                <div class="content">
                    <h2>मासिक धर्म के दौरान सेनेटरी पैड यूज करने का सही तरीका जानें  </h2>
                    <p> by Dr. Vishal Makvana</p>
                    <button onclick="openSix()">READ IT</button>
                </div>
            </div>
            <div class="book">
                <div class="icon">
                    <img src = "../static/images/icon.png" alt="" width="80" height="80" />
                </div>
                <div class="content">
                    <h2>Women Care: हाइजीन रहने के लिए महिलाओं के काम आएंगे ये छोटे-छोटे Tips</h2>
                    <p> by Palak</p>
                    <button onclick="openSeven()">READ IT</button>
                </div>
            </div>
            <div class="book">
                <div class="icon">
                    <img src = "../static/images/icon.png" alt="" width="80" height="80" />
                </div>
                <div class="content">
                    <h2> हाइजीन से जुड़ी कुछ अहम बातों का हर महिला रखें ख्‍याल, जानें इसकी पूरी जानकारी </h2>
                    <p> by Reeta Choudhary</p>
                    <button onclick="openeight()">READ IT</button>
                </div>
            </div>
            <div class="book">
                <div class="icon">
                    <img src = "../static/images/icon.png" alt="" width="80" height="80" />
                </div>
                <div class="content">
                    <h2>साफ-सफाई, सैनिटाइजेशन, ठंडा करना और इंतजार—दिल्ली में कैसे बीतता है एक मुर्दाघर कर्मचारी का दिन </h2>
                    <p> by Tenzin Jonpa</p>
                    <button onclick="opennine()">READ IT</button>
                </div>
            </div>
            <div class="book">
                <div class="icon">
                    <img src = "../static/images/icon.png" alt="" width="80" height="80" />
                </div>
                <div class="content">
                    <h2>कैसे स्कूल के दौरान आने वाले पीरियड्स से निपटें (Deal With Your Period at School)</h2>
                    <p> by Rebecca Levy-Gantt</p>
                    <button onclick="openTen()">READ IT</button>
                </div>
            </div>
            <div class="book">
                <div class="icon">
                    <img src = "../static/images/icon.png" alt="" width="80" height="80" />
                </div>
                <div class="content">
                    <h2> आपको अपने बच्चों से पीरियड के बारे मे बात क्यों करनी चाहिए?  </h2>
                    <p> by Teej</p>
                    <button onclick="openTen()">READ IT</button>
                </div>
            </div>
            <div class="book">
                <div class="icon">
                    <img src = "../static/images/icon.png" alt="" width="80" height="80" />
                </div>
                <div class="content">
                    <h2>Menopause Symptoms: ये रहे मेनोपाॅज के लक्षण, जानें उपचार और मासिक धर्म चक्र की इस स्थिति के बारे में </h2>
                    <p> by Shivani Awasthy</p>
                    <button onclick="openFive()">READ IT</button>
                </div>
            </div>
            <div class="book">
                <div class="icon">
                    <img src = "../static/images/icon.png" alt="" width="80" height="80" />
                </div>
                <div class="content">
                    <h2> मेनोपाॅज के चरण </h2>
                    <p> by Shivani</p>
                    <button onclick="openFive()">READ IT</button>
                </div>
            </div>
            <div class="book">
                <div class="icon">
                    <img src = "../static/images/icon.png" alt="" width="80" height="80" />
                </div>
                <div class="content">
                    <h2> पीरियड्स के दौरान सफाई न रखने के क्या हैं नुकसान?</h2>
                    <p> by Masik Dharm</p>
                    <button onclick="openFour()">READ IT</button>
                </div>
            </div>
            <div class="book">
                <div class="icon">
                    <img src = "../static/images/icon.png" alt="" width="80" height="80" />
                </div>
                <div class="content">
                    <h2> किन नियमों का पालन करके आप पर्सनल हायजीन का ख्याल रख सकतें हैं? </h2>
                    <p>by Riya</p>
                    <button onclick="openFive()">READ IT</button>
                </div>
            </div>
            <div class="book">
                <div class="icon">
                    <img src = "../static/images/icon.png" alt="" width="80" height="80" />
                </div>
                <div class="content">
                    <h2>बच्ची को कैसे सिखाएं पर्सनल हाइजीन अच्छी आदतें</h2>
                    <p> by Moksha</p>
                    <button onclick="openFive()">READ IT</button>
                </div>
            </div>
        </div>
        <script>
            function openOne() {
                window.open("https://birlafertility.com/blogs/what-are-periods-in-hindi/");
            }
            function openTwo() {
                window.open("https://www.herzindagi.com/hindi/society-culture/how-to-tell-teenage-daughter-about-her-first-periods-know-from-expert-article-77081");
            }
            function openThree() {
                window.open("https://bebodywise.com/blog/periods-me-kya-nahi-karna-chahiye-in-hindi/");
            }
            function openFour() {
                window.open("https://www.bhaskar.com/news/LIF-HNB-infog-how-to-take-care-in-periods-for-menstrual-hygiene-masik-dharm-5720127-PHO.html");
            }
            function openFive() {
                window.open("https://www.jansatta.com/health-news-hindi/know-the-rainy-hygiene-tips-for-women-health-during-period/2299343/");
            }
            function openSix() {
                window.open("https://www.myupchar.com/women-health/what-is-a-sanitary-pad-how-to-use-choose-how-often-to-change-in-hindi");
            }
            function openSeven() {
                window.open("https://nari.punjabkesari.in/nari/news/women-use-these-tips-to-keep-hygiene-1611960");
            }
            function openeight() {
                window.open("https://www.herzindagi.com/hindi/health/intimate-hygiene-tips-that-every-woman-should-know-video-18003");
            }
            function opennine() {
                window.open("https://hindi.theprint.in/india/clean-refrigerate-sanitize-and-wait-life-of-a-morgue-worker-in-delhi/216901/");
            }
            function openTen() {
                window.open("https://hi.wikihow.com/%E0%A4%B8%E0%A5%8D%E0%A4%95%E0%A5%82%E0%A4%B2-%E0%A4%95%E0%A5%87-%E0%A4%A6%E0%A5%8C%E0%A4%B0%E0%A4%BE%E0%A4%A8-%E0%A4%86%E0%A4%A8%E0%A5%87-%E0%A4%B5%E0%A4%BE%E0%A4%B2%E0%A5%87-%E0%A4%AA%E0%A5%80%E0%A4%B0%E0%A4%BF%E0%A4%AF%E0%A4%A1%E0%A5%8D%E0%A4%B8-%E0%A4%B8%E0%A5%87-%E0%A4%A8%E0%A4%BF%E0%A4%AA%E0%A4%9F%E0%A5%87%E0%A4%82-(Deal-With-Your-Period-at-School)");
            }
            function openEleven() {
                window.open("https://www.amarujala.com/photo-gallery/lifestyle/fitness/menopause-causes-signs-symptoms-treatment-and-what-is-right-age-of-periods-stop-in-hindi");
            }
        </script>
    </body>
</html>
