<html>
  <head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>
          Books
      </title>
      <link rel="stylesheet" href = "../static/css/bookkk.css" />
  </head>
  <body>
      <div class = "container">
          <h1>...Survey...</h1>
          <br>
          <div class="book">
              <div class="icon">
                  <img src = "../static/images/Self Aid-logos/ww.png" alt=""  width="80" height="80"/>
              </div>
              <div class="content">
                 <p><img src = "../static/images/Self Aid-logos/survey.png" alt="" /></p>
                  
              </div>
          </div>
          <div class="book">
              <div class="icon">
                  <img src = "../static/images/icon.png" alt="" width="80" height="80" />
              </div>
              <div class="content">
                  <p><img src = "../static/images/Self Aid-logos/survey1.jpg" alt="" /></p>

              </div>
          </div>
<script src="https://www.gstatic.com/dialogflow-console/fast/messenger/bootstrap.js?v=1"></script>
<df-messenger
  intent="WELCOME"
  chat-title="PreiodsGapshap"
  agent-id="e699b639-b02e-449c-9329-52cd15fbefcc"
  language-code="en"
></df-messenger>