<html>
    <head>
        <meta name="viewpoint" content="width=device-width, initial-scale=1.0">
        <title> Home Page </title>
        <link rel = "stylesheet" href = "../static/css/style1.css">
        <link href = "https://fonts.googleleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel = "stylesheet">
    </head>
    <body>
        <div class = "container">
            <div class="navbar">
                <img src="../static/images/Self Aid-logos/ww.png" class="logo">
                <nav>
                    <ul class="alink">
                        <li> <a href="/"> HOME </a></li>
                        <li> <a href="/calendar"> HABITICA </a></li>
                    </ul>
                </nav>
                <img src="../static/images/menu.png" class="menu">
            </div>
            <div class="row">
                <div class="col">
                    <h1> Empower her </h1>
                    <p>नमस्ते! यह वेब ऐप ग्रामीण महिलाओं के बीच मासिक धर्म स्वच्छता सुनिश्चित 
                        करने के लिए एक पहल के रूप में बनाया गया है।<br><br> अपनी जेब में एक आभासी गाइड का 
                        अनुभव करें।
                        <br><br><b>चलो शुरू करते हैं...</b></p>
                        
                </div>
                <div class="col">
                    <div class="card card1"><a href="/what">
                        <h3>क्या करें...</h3>
                    </a>
                    </div>
                    <div class="card card2">
                        <a href = "/breathe"><h3> बात चिट.... </h3></a>
                    </div>
                    <div class="card card3">
                        <a href = "/music"><h3> सुनो.... </h3></a>
                    </div>
                    <div class="card card4">
                        <a href = "/book"><h3> स्वच्छता के बारे में पढ़ें.. </h3></a>
                    </div>

                </div>
            </div>
        </div>
    </body>
</html>